In [1]:
print('hello')

hello

In [2]:
pwd

'/media/harold/SpareDisk/pydataDemos'

In [3]:
an_apple = 27

In [4]:
an_oringe = 26

In [5]:
an_oringe

NameError: name 'an_oringe' is not defined

In [7]:
b=[1,2,3]

In [9]:
b?

In [10]:
print?

In [11]:
def add_numbers(a,b):
    return a+b

In [13]:
add_numbers??

In [14]:
import numpy as np
np.*load*?

In [15]:
tuple([4,2,3])

(4, 2, 3)

In [18]:
a = (1,5,4,8)
c,d,*_ = a

In [20]:
_

[4, 8]

In [21]:
gen = range(10)
gen

range(0, 10)

In [22]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [23]:
import bisect
c = [1,2,2,2,3,4,7]
bisect.bisect(c,2)

4

In [24]:
bisect.insort(c,6)

In [25]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [27]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

for i,v in enumerate(some_list):
    mapping[v] = i

In [28]:
mapping

{'bar': 1, 'baz': 2, 'foo': 0}

seq = [1，’a‘,3]
seq2 = ['one',4,'a]
    zip(seq,seq2)

In [29]:
hash('atr')

-9199319561719883421

In [30]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [33]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [34]:
{2,2,3,5,4,8,9,6,4,78,5,2,1,54,5}

{1, 2, 3, 4, 5, 6, 8, 9, 54, 78}

In [36]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}

In [37]:
my_set

{(1, 2, 3, 4)}

In [38]:
myset = {1,2,3,6,4,5}

In [39]:
myset

{1, 2, 3, 4, 5, 6}

In [40]:
{1, 2, 3} == {3, 2, 1}

True

In [47]:
strings = ['a', 'as']
type(map(len, strings))

map

In [42]:
unique_lengths = {len(x) for x in strings}

In [45]:
type(unique_lengths)

set

In [1]:
equiv_anon = lambda x:x*2

In [2]:
equiv_anon(5)

10

In [3]:
add_num = lambda x,y:x+y
from functools import partial
add_fiv = partial(add_num,5)

In [4]:
add_fiv(5)

10

In [6]:
import itertools
first_letter = lambda x : x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, name in itertools.groupby(names,first_letter):
    print(letter,list(name))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']